force-app/main/default/flows/Transaction_Journal_Manual_Points_Adjustment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RunProgramProcess</name>
        <label>Run Program Process</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>runProgramProcessForTransactionJournal</actionName>
        <actionType>runProgramProcessForTransactionJournal</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>transactionJournalId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>runProgramProcessForTransactionJournal</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>[Transaction Journal] Manual Points Adjustment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Transaction Journal] Manual Points Adjustment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Status_to_Pending</name>
        <label>Update Status to Pending</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>RunProgramProcess</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Status_to_Pending</targetReference>
        </connector>
        <filterFormula>AND(
NOT({!$Setup.Bypass_Automation__c.FL_Transaction_Journal__c}), 
{!$Record.JournalType.Name} == &quot;Manual Points Adjustment&quot;
)</filterFormula>
        <object>TransactionJournal</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
