force-app/main/default/flows/Voucher_After_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Get_Sum_Of_the_Face_Value</name>
        <label>Get Sum Of the Face Value</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>SumofFaceValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_Voucher_Record.FaceValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Voucher_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Sum_Of_the_Face_Value</name>
        <label>Store Sum Of the Face Value</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>storeSumofFaceValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SumofFaceValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Total_Reward_Point_on_Member_Object</targetReference>
        </connector>
    </assignments>
    <description>After create and update record-triggered flow on Voucher object</description>
    <environments>Default</environments>
    <interviewLabel>[Voucher] After Create Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Voucher] After Create Update</label>
    <loops>
        <name>Loop_On_Voucher_Record</name>
        <label>Loop On Voucher Record</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>recordCollection_Vouchers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Sum_Of_the_Face_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Store_Sum_Of_the_Face_Value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Issued_Voucher</name>
        <label>Get Issued Voucher</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Voucher_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Issued</stringValue>
            </value>
        </filters>
        <filters>
            <field>LoyaltyProgramMemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LoyaltyProgramMember.Id</elementReference>
            </value>
        </filters>
        <object>Voucher</object>
        <outputReference>recordCollection_Vouchers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>FaceValue</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Total_Reward_Point_on_Member_Object</name>
        <label>Update Total Reward Point on Member Object</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LoyaltyProgramMember.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Rewards__c</field>
            <value>
                <elementReference>storeSumofFaceValue</elementReference>
            </value>
        </inputAssignments>
        <object>LoyaltyProgramMember</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Issued_Voucher</targetReference>
        </connector>
        <object>Voucher</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordCollection_Vouchers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Voucher</objectType>
    </variables>
    <variables>
        <name>storeSumofFaceValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SumofFaceValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
