force-app/main/default/flows/Voucher_AdHoc_Issuance_Generate_Journals_Ledgers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>OrderNumberGenerate</name>
        <dataType>String</dataType>
        <expression>&apos;ADHOC-&apos;&amp;{!$Record.VoucherCode}</expression>
    </formulas>
    <interviewLabel>[Voucher] AdHoc Issuance Generate Journals Ledgers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Voucher] AdHoc Issuance Generate Journals Ledgers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Ledgers</name>
        <label>Create Ledgers</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventType</field>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoyaltyProgramCurrencyId</field>
            <value>
                <elementReference>Get_Positive_Currency_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoyaltyProgramMemberId</field>
            <value>
                <elementReference>$Record.LoyaltyProgramMemberId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Points</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionJournalId</field>
            <value>
                <elementReference>CreatedJournalID</elementReference>
            </value>
        </inputAssignments>
        <object>LoyaltyLedger</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>create TJ of Type &apos;Manual Points Adjustment&apos;</description>
        <name>Create_Transaction_Journals</name>
        <label>Create Transaction Journals</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignRecordIdToReference>CreatedJournalID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_OrderID_Issue</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalSubTypeId</field>
            <value>
                <elementReference>Get_Journal_SubType_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalTypeId</field>
            <value>
                <elementReference>Get_Journal_Type_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoyaltyProgramId</field>
            <value>
                <elementReference>$Record.LoyaltyProgramMember.ProgramId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>$Record.LoyaltyProgramMemberId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_ID__c</field>
            <value>
                <elementReference>OrderNumberGenerate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Item_ID__c</field>
            <value>
                <stringValue>ADHOC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsageType</field>
            <value>
                <stringValue>Loyalty</stringValue>
            </value>
        </inputAssignments>
        <object>TransactionJournal</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Journal_SubType_ID</name>
        <label>Get Journal SubType ID</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Positive_Currency_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reward</stringValue>
            </value>
        </filters>
        <filters>
            <field>JournalTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Journal_Type_ID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JournalSubType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Journal_Type_ID</name>
        <label>Get Journal Type ID</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Journal_SubType_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual Points Adjustment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JournalType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Positive_Currency_ID</name>
        <label>Get Positive Currency ID</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Transaction_Journals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Positive Balance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramCurrency</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_OrderID_Issue</name>
        <label>Update OrderID Issue</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Create_Ledgers</targetReference>
        </connector>
        <inputAssignments>
            <field>Order_Id_Issue__c</field>
            <value>
                <elementReference>OrderNumberGenerate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionJournalId</field>
            <value>
                <elementReference>CreatedJournalID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Journal_Type_ID</targetReference>
        </connector>
        <filterFormula>AND(NOT({!$Setup.Bypass_Automation__c.TR_Voucher__c}), 
OR(ISPICKVAL({!$Record.VoucherDefinition.Category__c}, &quot;Ad-Hoc&quot;), 
AND({!$Record.VoucherDefinition.Name}==&quot;Birthday Reward&quot;,ISBLANK({!$Record.TransactionJournal.Id})))
)</filterFormula>
        <object>Voucher</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CreatedJournalID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
