force-app/main/default/flows/Voucher_Before_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Default minimum spend value from Voucher Definition</description>
        <name>Copy_Minimum_Spend</name>
        <label>Copy Minimum Spend</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Minimum_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VoucherDefinition.Minimum_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CIM_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LoyaltyProgramMember.Contact.CIM_Customer_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Member_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LoyaltyProgramMember.Contact.Email</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Make_Effective_EQUAL_GMT_Date</name>
        <label>Make Effective EQUAL GMT Date</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FlowDATEVALUE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Minimum_Spend</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_GMT_Day_NOT_EQUALS_EffectiveDay</name>
        <label>Check if GMT Day NOT EQUALS EffectiveDay</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Copy_Minimum_Spend</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NOT_Equal_GMT_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EffectiveDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>FlowDATEVALUE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Make_Effective_EQUAL_GMT_Date</targetReference>
            </connector>
            <label>NOT Equal GMT Day</label>
        </rules>
    </decisions>
    <decisions>
        <description>Voucher created from voucher definition?</description>
        <name>Has_Voucher_Definition</name>
        <label>Has Voucher Definition?</label>
        <locationX>336</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VoucherDefinition.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_GMT_Day_NOT_EQUALS_EffectiveDay</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Before create record-triggered flow on Voucher object</description>
    <environments>Default</environments>
    <formulas>
        <name>FlowDATEVALUE</name>
        <dataType>Date</dataType>
        <expression>DATE(
VALUE(LEFT(TEXT({!$Flow.CurrentDateTime}),4)),
VALUE(RIGHT(LEFT(TEXT({!$Flow.CurrentDateTime}),7),2)),
VALUE(RIGHT(LEFT(TEXT({!$Flow.CurrentDateTime}),10),2))
)</expression>
    </formulas>
    <interviewLabel>[Voucher] Before Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Voucher] Before Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Voucher_Definition</targetReference>
        </connector>
        <object>Voucher</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
